

body {
    font-size: 15px;
}

.o_sub_menu_footer {display: none!important;}


.o_web_client .navbar li > a {
    font-size: 15px;
    margin-right: 20px;
}
/*
.btn-sm, .btn-group-sm > .btn {
    font-size: 15px;
}

.btn-sn{font-size:12px;}
*/

.o_list_view thead {
    font-size: 15px;
}


.o_list_view thead {
    font-size: 15px;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content {
    font-size: 15px;
}


.o_form_view .o_form_label {
    font-size: 15px;
}


.nav-tabs > li > a {
    margin-right: 2px;
    font-weight: bold;
}


.o_control_panel .o_cp_right {
    font-size: 12px;
}
























